@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}
body{
  font-family: 'Poppins', sans-serif;
}
.mainAppp{
  min-height: 100vh;
  width: 100%;
}
.mainAppp .buttonsMenu{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainContainer{
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}
 .nav{
  min-height: 100px;
  width: 100%;
  background-color: #356c7d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 .nav h4{
  color: white;
  margin-right: auto;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.mainContainer .mainCont{
  display:flex;
  flex-direction: column;
}
.mainContainer .mainCont .heading{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-around;
  height: 50px;
}
.mainContainer  h1{
  text-align: center;
  width: 100%;
}
.mainContainer .mainCont .homeCont{
  min-height: 200px;
  min-width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainContainer .mainCont .homeCont .txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom: 0.5px solid #f9f9f9;
}
.mainContainer .mainCont .homeCont .txt h3{
font-size: 25px;
background-color: #f9f9f9;
text-align: center;
width: 80%;
margin: auto;
margin-top: 10px;
font-weight: bold;
}

.mainContainer .mainCont .homeCont .txt h4{
  font-size: 20px;
  background-color: #f9f9f9;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  }
  .mainContainer .mainCont .homeCont .txt p{
    background-color: #f9f9f9;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  
    }
    .mainContainer .mainCont .homeCont .txt img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
     
    }
    .myIcon{
      transition: all 0.5s;
    }
    .myIcon:hover{
      transform: rotate(40deg);
    }

    .vcMessage{
      width: 80%;
      min-height: 50vh;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .vcMessage img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .newsEvent{
      min-height: 50vh;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background-color: white;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }
   


.newsEvent .txt{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      border-bottom: 0.5px solid #f9f9f9;
    }
.newsEvent .txt h3{
    font-size: 25px;
    background-color: #f9f9f9;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
    }
    
.newsEvent .txt h4{
      font-size: 20px;
      background-color: #f9f9f9;
      text-align: center;
      width: 80%;
      margin: auto;
      margin-top: 10px;
      }
  .newsEvent .txt p{
        background-color: #f9f9f9;
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 10px;
      
        }
    .newsEvent .txt img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
         
        }
    .newsEvent .program{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      border-bottom: 0.5px solid #f9f9f9;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .footer h3{
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      width: 100%;
      text-align: center;
    }
    .loadingPage{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
    }
    .loadingPage img{
      height: 100px;
      width: 100px;
      animation: rotate 5s infinite reverse;
    }
    .acad_cont{
      display:grid;
      grid-template-columns:1fr 1fr;
      padding: 20px;
    }