.mainContainer{
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.mainContainer .nav{
  min-height: 100px;
  width: 100%;
  background-color: #356c7d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainContainer .nav h4{
  color: white;
  margin-right: auto;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.mainContainer .mainCont{
  display:flex;
  flex-direction: column;
}
.mainContainer .mainCont .heading{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-around;
  height: 50px;
}
.mainContainer .mainCont .heading h1{
  text-align: center;
  width: 100%;
}
.mainContainer .mainCont .homeCont{
  min-height: 200px;
  min-width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainContainer .mainCont .homeCont .txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.mainContainer .mainCont .homeCont .txt h3{
font-size: 25px;
background-color: #f9f9f9;
text-align: center;
width: 80%;
margin: auto;
margin-top: 10px;
font-weight: bold;
}

.mainContainer .mainCont .homeCont .txt h4{
  font-size: 20px;
  background-color: #f9f9f9;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  }
  .mainContainer .mainCont .homeCont .txt p{
    background-color: #f9f9f9;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  
    }
    .mainContainer .mainCont .homeCont .txt img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
     
    }
    .myIcon{
      transition: all 0.5s;
    }
    .myIcon:hover{
      transform: rotate(40deg);
    }